$g-Thin: 'Geometria-Thin';
$g-Light: 'Geometria-Light';
$g-ExtraLight: 'Geometria-ExtraLight';
$g-Italic: 'Geometria-Italic';
$g-Regular: 'Geometria';
$g-Heavy: 'Geometria-Heavy';
$g-Medium: 'Geometria-Medium';
$g-Bold: 'Geometria-Bold';
$g-ExtraBold: 'Geometria-ExtraBold';
$c-Bold: 'Circe-Bold';