@font-face {
  font-family: 'Geometria-Thin';
  src: url('../fonts/Geometria-Thin.eot');
  src: local('Geometria Thin'), local('Geometria-Thin'),
  url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Thin.woff') format('woff'),
  url('../fonts/Geometria-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Italic';
  src: url('../fonts/Geometria-Italic.eot');
  src: local('Geometria Italic'), local('Geometria-Italic'),
  url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Italic.woff') format('woff'),
  url('../fonts/Geometria-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria-Heavy';
  src: url('../fonts/Geometria-Heavy.eot');
  src: local('Geometria Heavy'), local('Geometria-Heavy'),
  url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Heavy.woff') format('woff'),
  url('../fonts/Geometria-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Medium.woff') format('woff'),
  url('../fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.eot');
  src: local('Geometria'),
  url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria.woff') format('woff'),
  url('../fonts/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Bold.woff') format('woff'),
  url('../fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-ExtraBold';
  src: url('../fonts/Geometria-ExtraBold.eot');
  src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
  url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-ExtraBold.woff') format('woff'),
  url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Light';
  src: url('../fonts/Geometria-Light.eot');
  src: local('Geometria Light'), local('Geometria-Light'),
  url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Light.woff') format('woff'),
  url('../fonts/Geometria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-ExtraLight';
  src: url('../fonts/Geometria-ExtraLight.eot');
  src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
  url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-ExtraLight.woff') format('woff'),
  url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.eot');
  src: local('Circe-Bold'), local('Circe-Bold'),
  url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}